:root {
	--maskLarge: polygon(0% 0%, 0% 100%, 25% 100%, 0px 0px, 15% 0px, 75% 0%, 100% 100%, 100% 0%);
	--maskSmall: polygon(0% 0%, 0% 100%, 50% 100%, 0px 0px, 15% 0px, 75% 0%, 90% 0%, 100% 0%);
}
[data-layout='bg--4'] {
	.grid-image {
		grid-area: 1 / 1 / -1 / -1;
		clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%);
		@media (--media-md) {
			clip-path: polygon(0 0, 75% 0, 100% 100%, 25% 100%);
		}
	}
	.grid-word {
		grid-area: 2/ 2 / -3 / -2;
	}
	.grid-pattern {
		grid-area: 1 / 1 / -1 / -1;
		clip-path: var(--maskSmall);
		@media (--media-md) {
			clip-path: var(--maskLarge);
		}
	}
	.grid-grainy {
		clip-path: var(--maskSmall);
		grid-area: 1 / 1 / -1 / -1;
		@media (--media-md) {
			clip-path: var(--maskLarge);
		}
	}
}
