[data-layout='bg--11'] {
	.grid-word {
		grid-area: 2/ 2 / -3 / -2;
		@media (--media-md) {
			grid-area: content;
		}
	}

	.grid-pattern,
	.grid-grainy {
		grid-area: 1/ 1 / -1 / -1;
		clip-path: polygon(100% 70%, 100% 0px, 100% 100%, 0px 100%, 0px 18vh);
		@media (--media-md) {
			clip-path: polygon(100% 90%, 100% 0px, 100% 100%, 0px 100%, 0px 18vh);
		}
	}

	.grid-image {
		grid-area: 2 / 2 / -1 / -2;
		border-left: var(--space-md) solid white;
		@media (--media-md) {
			grid-area: 1 / 11 / -1 / -1;
		}
	}
	.grid-content {
		grid-column: 2/11;
		grid-row: 1/10;
	}
	.grid__mask {
		grid-area: 1/ 1 / -1 / -1;
		clip-path: polygon(100% 80%, 100% 0, 100% 100%, 0 100%, 0 7vh);
		@media (--media-md) {
			clip-path: polygon(76% 100%, 100% 0, 100% 100%, 0 100%, 0 0);
		}
	}
	@media (--media-md) {
		.grid-bg-1 {
			grid-column: 1/11;
			grid-row: 9/-1;
			background: var(--color-bg-darker);

			z-index: 4;
			opacity: 1;
			border-top: var(--space-md) solid white;
		}
	}
}
