/*! purgecss start ignore */
/* -------------------------------- 

File#: _1_bg-gradients
Title: Background Gradients
Descr: Customizable background gradients
Usage: codyhouse.co/license

-------------------------------- */

:root,
[data-gradient='primary'] {
	--gradient-colour-1: var(--primary);
	--gradient-colour-2: var(--sec);
	--gradient-tone-high: var(--300);
	--gradient-tone-low: var(--100);
	--gradient-opacity-light: 0.2;
	--gradient-opacity-medium: 0.5;
	--gradient-opacity-dark: 0.8;
}
[data-gradient='accent'] {
	--gradient-colour-1: var(--accent);
	--gradient-colour-2: var(--primary);
	--gradient-tone-high: var(--300);
	--gradient-tone-low: var(--100);
	--gradient-opacity-light: 0.2;
	--gradient-opacity-medium: 0.5;
	--gradient-opacity-dark: 0.8;
}
[data-gradient='sec'] {
	--gradient-colour-1: var(--primary);
	--gradient-colour-2: var(--sec);
	--gradient-tone-high: var(--300);
	--gradient-tone-low: var(--100);
	--gradient-opacity-light: 0.2;
	--gradient-opacity-medium: 0.5;
	--gradient-opacity-dark: 0.8;
}
[data-gradient='dark-primary'],
[data-gradient='dark-accent'],
[data-gradient='dark-sec'] {
	--gradient-tone-high: var(--800);
	--gradient-tone-low: var(--600);
	--gradient-opacity-light: 0.5;
	--gradient-opacity-medium: 0.3;
	--gradient-opacity-dark: 0.8;
}

[data-gradient='dark-primary'] {
	--gradient-colour-1: var(--accent);
	--gradient-colour-2: var(--primary);
}
[data-gradient='dark-accent'] {
	--gradient-colour-1: var(--primary);
	--gradient-colour-2: var(--accent);
}
[data-gradient='dark-sec'] {
	--gradient-colour-1: var(--primary);
	--gradient-colour-2: var(--sec);
}

.bg-gradient-1,
.bg-gradient-2,
.bg-gradient-3 {
	background-repeat: no-repeat;
	background-position: center;

	@media (prefers-reduced-motion: no-preference) {
		&[data-bg-animate='on'] {
			will-change: background-position;
		}
	}
}
.bg-gradient-1 {
	background-color: oklch(var(--gradient-tone-high) var(--gradient-colour-2));
	background-image: radial-gradient(
			ellipse at 10% 20%,
			oklch(var(--gradient-tone-high) var(--gradient-colour-1)) 10%,
			oklch(var(--gradient-tone-low) var(--gradient-colour-2) / var(--gradient-opacity-dark)) 80%
		),
		radial-gradient(
			ellipse at 50% 100%,
			oklch(var(--gradient-tone-high) var(--gradient-colour-1)) 15%,
			oklch(var(--gradient-tone-low) var(--gradient-colour-2) / var(--gradient-opacity-light)) 75%
		),
		radial-gradient(
			ellipse at 10% 30%,
			oklch(var(--gradient-tone-high) var(--gradient-colour-1)) 20%,
			oklch(var(--gradient-tone-low) var(--gradient-colour-2) / var(--gradient-opacity-dark)) 70%
		),
		radial-gradient(
			ellipse at 50% 100%,
			oklch(var(--gradient-tone-high) var(--gradient-colour-1)) 20%,
			oklch(var(--gradient-tone-low) var(--gradient-colour-2) / var(--gradient-opacity-dark)) 70%
		);
	background-size: 120% 200%;

	@media (prefers-reduced-motion: no-preference) {
		&[data-bg-animate='on'] {
			background-size: 200% 280%;
			background-position: 50% 0%;
			animation: bg-gradient-anim-2 30s linear infinite;
		}
	}
}
.bg-gradient-2 {
	background-color: oklch(var(--gradient-tone-high) var(--gradient-colour-2));
	background-image: radial-gradient(
			ellipse at 10% 100%,
			oklch(var(--gradient-tone-high) var(--gradient-colour-1)) 10%,
			oklch(var(--gradient-tone-low) var(--gradient-colour-2) / var(--gradient-opacity-dark)) 80%
		),
		radial-gradient(
			ellipse at 0% 20%,
			oklch(var(--gradient-tone-high) var(--gradient-colour-1)) 25%,
			oklch(var(--gradient-tone-low) var(--gradient-colour-2) / var(--gradient-opacity-dark)) 75%
		),
		radial-gradient(
			ellipse at 100% 100%,
			oklch(var(--gradient-tone-high) var(--gradient-colour-1)) 20%,
			oklch(var(--gradient-tone-low) var(--gradient-colour-2) / var(--gradient-opacity-dark)) 70%
		),
		radial-gradient(
			ellipse at 20% 100%,
			oklch(var(--gradient-tone-high) var(--gradient-colour-1)) 20%,
			oklch(var(--gradient-tone-low) var(--gradient-colour-2) / var(--gradient-opacity-dark)) 70%
		);
	background-size: 120% 200%;

	@media (prefers-reduced-motion: no-preference) {
		&[data-bg-animate='on'] {
			background-size: 200% 280%;
			background-position: 50% 0%;
			animation: bg-gradient-anim-2 30s linear infinite;
		}
	}
}
.bg-gradient-3 {
	background-color: oklch(var(--gradient-tone-high) var(--gradient-colour-1));
	background-image: radial-gradient(
			ellipse at 25% 90%,
			oklch(var(--gradient-tone-high) var(--gradient-colour-1)) 10%,
			oklch(var(--gradient-tone-low) var(--gradient-colour-2) / var(--gradient-opacity-light)) 80%
		),
		radial-gradient(
			ellipse at 25% 90%,
			oklch(var(--gradient-tone-high) var(--gradient-colour-1)) 0%,
			oklch(var(--gradient-tone-low) var(--gradient-colour-2) / var(--gradient-opacity-medium)) 70%
		),
		radial-gradient(
			ellipse at 100% 100%,
			oklch(var(--gradient-tone-high) var(--gradient-colour-1)) 5%,
			oklch(var(--gradient-tone-low) var(--gradient-colour-2) / var(--gradient-opacity-medium)) 60%
		),
		radial-gradient(
			ellipse at 0% 0%,
			oklch(var(--gradient-tone-high) var(--gradient-colour-1)) 15%,
			oklch(var(--gradient-tone-low) var(--gradient-colour-2) / var(--gradient-opacity-medium)) 50%
		),
		radial-gradient(
			ellipse at 100% 0%,
			oklch(var(--gradient-tone-high) var(--gradient-colour-1)) 30%,
			oklch(var(--gradient-tone-low) var(--gradient-colour-2) / var(--gradient-opacity-medium)) 70%
		);
	background-size: 100% 140%;

	@media (prefers-reduced-motion: no-preference) {
		&[data-bg-animate='on'] {
			background-size: 200% 280%;
			background-position: 50% 0%;
			animation: bg-gradient-anim-3 30s linear infinite;
		}
	}
}

/*! purgecss end ignore */
