/* -------------------------------- 

File#: _2_drawer-navigation
Title: Drawer Navigation
Descr: Header template with drawer navigation
Usage: codyhouse.co/license

-------------------------------- */
/*! purgecss start ignore */
.dr-nav-header {
	height: var(--dr-nav-header-height);
	position: relative;
	z-index: var(--z-index-header, 3);

	.radio-switch {
		--radio-switch-width: 72px;
		--radio-switch-height: 32px;
		--radio-switch-padding: 3px;
		--radio-switch-radius: 50em;
		--radio-switch-animation-duration: 0.3s;
	}
}

/* logo */
.dr-nav-header__logo_wrapper {
	display: grid;
	place-items: center;
	width: var(--dr-nav-logo-width);
	height: var(--dr-nav-header-height);
}

.dr-nav-header__logo {
	/* width: 100%;
	height: 100%; */
	transition: background 0.2s;

	svg {
		display: block;
		width: inherit;
		height: inherit;
		fill: red;
	}

	&:hover {
		background: var(--color-bg-dark);
	}
}

/* nav control - menu button */
.dr-nav-control-wrapper {
	position: fixed;
	z-index: var(--z-index-overlay, 15);
	top: var(--anim-menu-top);
	left: 0;
	height: var(--anim-menu-right);
	width: 100%;
	pointer-events: none;
}

.dr-nav-control {
	height: var(--anim-menu-btn-size);
	pointer-events: auto;
	position: relative;
	cursor: pointer;
	transition: transform 0.38s var(--ease-in-out);
	&.anim-menu-btn--state-b {
		transform: rotate(180deg);
	}

	&:hover .dr-nav-control__bg {
		opacity: 1;
	}
}
.dr-nav-control__bg {
	display: block;
	stroke-width: 1.5;
	opacity: 1;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: 0.2s;
}

.dr-nav-control--ready-to-animate circle {
	display: block;
	transition: stroke-dashoffset 0.3s 0s;
}

.dr-nav-control.anim-menu-btn--state-b circle {
	stroke-dashoffset: 0;
	transition-delay: 0.3s;
}

.dr-nav-drawer-header {
	display: flex;
	align-items: center;
	flex-shrink: 0;
	height: var(--dr-nav-header-height);
}

.dr-nav__link {
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-decoration: none;
	padding: var(--space-4xs) 0;
	color: var(--color-contrast-high);
	transition: 0.3s;
	:nth-child(2)::before {
		content: '';
		display: inline-block;
		height: 1px;
		width: 32px;
		margin-right: var(--space-xs);
		background-color: currentColor;
		vertical-align: middle;
		transform: scaleX(0);
		transform-origin: right center;
		transition: transform 0.3s var(--ease-out);
	}

	&:hover {
		color: var(--color-contrast-medium);

		:nth-child(2)::before {
			transform: scaleX(1);
		}
	}
}

.dr-nav {
	overflow: hidden;
}

/*! purgecss end ignore */
