[data-form='flat'] {
	--form-control--bg: color-mix(in oklch, var(--color-black), transparent 95%);
	--form-control--bg-focus: color-mix(in oklch, var(--color-black), transparent 95%);
	--form-control--box-shadow: inset 0 0 0 0px
			color-mix(in oklch, var(--color-primary), transparent 100%),
		0 0 0 0px var(--color-contrast-low);
	--form-control--box-shadow-focus: inset 0 0 0 2px
			color-mix(in oklch, var(--color-primary), transparent 100%),
		0 0 0 2px var(--color-contrast-low);
}
[data-form='flat'][data-theme='dark'] {
	--form-control--bg: color-mix(in oklch, var(--color-black), transparent 70%);
	--form-control--bg-focus: color-mix(in oklch, var(--color-black), transparent 50%);
}
