[data-layout='bg--2'] {
	@media (--media-md) {
		.grid-bg-1 {
			opacity: 1;
			@media (--media-md) {
				grid-column: 10/-1;
				grid-row: 1/-1;
			}
			z-index: 1;
		}
		.grid-grainy {
			@media (--media-md) {
				grid-column: 12/-1;
				grid-row: 10/-1;
			}
		}
		.grid-bg-2 {
			background: var(--color-bg-darker);
			z-index: 1;
		}
		.grid-bg-2,
		.grid-pattern {
			@media (--media-md) {
				grid-column: 12/-1;
				grid-row: 1/-1;
			}
		}
	}
}
