@use '../../base/config' as *;
[data-layout='bg--4'] {
	.grid-bg-1 {
		grid-column: 1/-1;
		grid-row: 9/-1;
	}
	.grid-pattern {
		grid-column: 1/-1;
		grid-row: 1/-1;
		z-index: 2;
	}
	.grid-grainy {
		grid-column: 1/-1;
		grid-row: 9/-1;
		z-index: 2;
	}
}
