/* https://fluidbuilder.webflow.io/?design=90&max=90&min=20&f&g=--text-8xl,17,6.14_--text-7xl,12.75,5.46_--text-6xl,9.57,4.85_--text-5xl,7.18,4.31_--text-4xl,5.38,3.83_--text-3xl,4.04,3.41_--text-2xl,3.03,3.03,t&g=:1.333,1.125:--text-xl,2.44,1.42_--text-lg,1.83,1.27_--text-md,1.37,1.13_--text-base,1.03,1,t_--text-sm,0.77,0.89_--text-xs,0.58,0.79&g=:1.333,1.125:--space-5xl,9.97,2.57_--space-4xl,7.48,2.28_--space-3xl,5.61,2.03_--space-2xl,4.21,1.8_--space-xl,3.16,1.6_--space-lg,2.37,1.42_--space-md,1.78,1.27_--space-base,1.33,1.13_--space-sm,1,1,t_--space-xs,0.75,0.89_--space-2xs,0.56,0.79_--space-3xs,0.42,0.7_--space-4xs,0.32,0.62 */

:root {
	--text-8xl: clamp(6.14rem, 3.038rem + 15.51vw, 17rem);
	--text-7xl: clamp(5.46rem, 3.378rem + 10.41vw, 12.75rem);
	--text-6xl: clamp(4.85rem, 3.502rem + 6.74vw, 9.57rem);
	--text-5xl: clamp(4.31rem, 3.49rem + 4.1vw, 7.18rem);
	--text-4xl: clamp(3.83rem, 3.388rem + 2.21vw, 5.38rem);
	--text-3xl: clamp(3.41rem, 3.23rem + 0.9vw, 4.04rem);
	--text-2xl: clamp(3.03rem, 3.03rem + 0vw, 3.03rem);
	--text-xl: clamp(1.42rem, 1.128rem + 1.46vw, 2.44rem);
	--text-lg: clamp(1.27rem, 1.11rem + 0.8vw, 1.83rem);
	--text-md: clamp(1.13rem, 1.062rem + 0.34vw, 1.37rem);
	--text-base: clamp(1rem, 0.992rem + 0.04vw, 1.03rem);
	--text-sm: clamp(0.77rem, 0.924rem + -0.17vw, 0.89rem);
	--text-xs: clamp(0.58rem, 0.85rem + -0.3vw, 0.79rem);
	--space-5xl: clamp(2.57rem, 0.456rem + 10.57vw, 9.97rem);
	--space-4xl: clamp(2.28rem, 0.794rem + 7.43vw, 7.48rem);
	--space-3xl: clamp(2.03rem, 1.008rem + 5.11vw, 5.61rem);
	--space-2xl: clamp(1.8rem, 1.112rem + 3.44vw, 4.21rem);
	--space-xl: clamp(1.6rem, 1.154rem + 2.23vw, 3.16rem);
	--space-lg: clamp(1.42rem, 1.148rem + 1.36vw, 2.37rem);
	--space-md: clamp(1.27rem, 1.124rem + 0.73vw, 1.78rem);
	--space-base: clamp(1.13rem, 1.072rem + 0.29vw, 1.33rem);
	--space-sm: clamp(1rem, 1rem + 0vw, 1rem);
	--space-xs: clamp(0.75rem, 0.93rem + -0.2vw, 0.89rem);
	--space-2xs: clamp(0.56rem, 0.856rem + -0.33vw, 0.79rem);
	--space-3xs: clamp(0.42rem, 0.78rem + -0.4vw, 0.7rem);
	--space-4xs: clamp(0.32rem, 0.706rem + -0.43vw, 0.62rem);
}
