/* --------------------------------
 Display
 -------------------------------- */
:root {
	--feature-text-offset: 0%;
	--hero-title-margin-left: -0.2vw;
	@media (min-width: 64rem) {
		--hero-title-margin-left: -10px;
	}
}
@media (--media-md) {
	.word-v {
		writing-mode: vertical-rl;
		line-height: 0.75 !important;
	}
}
.text-align {
	margin-left: -10px;
}
.height-box {
	min-height: 70dvh;
}

.is-hidden {
	display: none !important;
}

.radius-super {
	border-radius: calc(var(--radius-lg) * 1.5);
	/* border-bottom-right-radius: calc(var(--radius-lg) * 30); */
	@media (--media-md) {
		border-radius: calc(var(--radius-lg) * 6);
	}
	@media (--media-lg) {
		border-radius: calc(var(--radius-lg) * 8);
	}
}

.hero {
	margin-top: var(--hero-nav-reset);
}

.word-title__light {
	@media (--media-md) {
		color: white;
	}
}
